@import "tailwindcss";

@theme {
  --color-bg: #AA767C;
  --color-surface: #FFA686;
  --color-accent: #FEC196;
  --color-accent-soft: #E8C4A0;
  --color-text-primary: #F5F0EB;
  --color-text-muted: #FEC196;
  --font-display: 'DM Serif Display', serif;
  --font-body: 'Inter', sans-serif;
}

body {
  background-color: #AA767C;
  color: #F5F0EB;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
